* {
    margin:0px;
    padding:0px;
}

$primarycolor: #aed9e0;
$secondarycolor: #faf3dd;
$highlightcolor: #b8f2e6;
$accentcolor: #ffa69e;
$darkcolor: #5e6472;

@mixin theme {
    background-color: $secondarycolor;
    color: $darkcolor;
    font-family: Arial, Helvetica, sans-serif;
        a:link {
            color: $darkcolor;
            text-decoration: none;
        }
        a:visited {
            color: $darkcolor;
            text-decoration: none;
        }
        a:hover {
            background-color: $accentcolor;
            text-decoration: none;
        }
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    @include theme; 
    background-color: $primarycolor;

    #nav_section {
        justify-content: flex-end;
        align-self:center;
        margin-left:auto;
        margin-right: 5%;
    }

    #nav_toggle {
        display: none;

    }
    
    #nav_links {
        display: none;
    }
    
    #nav_toggle:checked ~ #nav_links {
        display: flex;
    }
    
    ul {
        list-style-type: none;
    }
}

.body_class {
    @include theme; 
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-bottom: 4%;
}

#intro {
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 2%;
}

.section_class {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 2%;
    margin-bottom: 2%;

    .page_headings {
        align-self:center;
        margin-top:2%;
    }

    .blog_page {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-top: 2%;
        margin-bottom: 2%;

        .pic_link {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }

        a.pic_link:hover{
            background-color: $secondarycolor;
            text-decoration:none;
        }
    }
}

.pics {
    align-self: center;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    margin: 2%;
}

img:hover {
    opacity: 0.6;
}

.big_image {
    align-self: center;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin: 2%;
}

#family_images {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

