* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #faf3dd;
  color: #5e6472;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aed9e0;
}
header a:link {
  color: #5e6472;
  text-decoration: none;
  transition: background-color 0.5s;
}
header a:visited {
  color: #5e6472;
  text-decoration: none;
}
header a:hover {
  background-color: #ffa69e;
  text-decoration: none;
}
header #nav_section {
  justify-content: flex-end;
  align-self: center;
  margin-left: auto;
  margin-right: 5%;
}
header #nav_toggle {
  display: none;
}
header #nav_links {
  display: none;
}
header #nav_toggle:checked ~ #nav_links {
  display: flex;
}
header ul {
  list-style-type: none;
}

.body_class {
  background-color: #faf3dd;
  color: #5e6472;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4%;
}
.body_class a:link {
  color: #5e6472;
  text-decoration: none;
  transition: background-color 0.5s;
}
.body_class a:visited {
  color: #5e6472;
  text-decoration: none;
}
.body_class a:hover {
  background-color: #ffa69e;
  text-decoration: none;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

.section_class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.section_class .page_headings {
  align-self: center;
  margin-top: 2%;
}
.section_class .blog_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.section_class .blog_page .pic_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_class .blog_page a.pic_link:hover {
  background-color: #faf3dd;
  text-decoration: none;
}

.pics {
  align-self: center;
  height: 20%;
  width: 20%;
  border-radius: 50%;
  margin: 2%;
}

img:hover {
  opacity: 0.6;
}

.big_image {
  align-self: center;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  margin: 2%;
}

#family_images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resume_link {
  font-weight: bold;
}

.outside_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.outside_links .icon_link_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.outside_links .icon_link_div .icons {
  height: 20%;
  width: 20%;
}
.outside_links .icon_link_div .icons:hover {
  opacity: 1;
  animation: wiggle 1.5s linear infinite;
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.outside_links .icon_link_div a.icon_link:hover {
  background-color: #faf3dd;
}

.input_form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#feedback_form_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

#feedback_text_div {
  display: flex;
  flex-direction: row;
  height: 75%;
  Width: 70%;
}
#feedback_text_div #feedback_text {
  width: 100%;
  height: 70%;
  overflow: auto;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
